/* ########################################### */
/* BODY & UNIVERSAL */
/* ########################################### */
body {
  font-family: Tahoma, sans-serif;
  margin: 0;
}

div {
  display: block;
}

/* ########################################### */
/* Nav Bar */
/* ########################################### */
.nav-bar{
  background: rgb(210,98,0);
  position: fixed;
  top:0;
  width:100%;
  z-index:100;
  /* border: black solid; */
}

.main-nav{
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: center;
  padding: 0;
}

.main-nav li{
  padding:  10px 20px;
}

.main-nav li{
  color: #f5f5f6;
  font-family: 'Century Gothic', sans-serif;
  text-decoration: none;
}

.main-nav li:hover{
  cursor: pointer;
  color: #000080;
  text-decoration: none;
}

/* ########################################### */
/* Home */
/* ########################################### */
.home-bg{
  background-image: linear-gradient(to right, rgb(77, 80, 85), rgb(45, 35, 48));
  margin-bottom: 0px;
  /* background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 15px 15px; */
}

.home{
  display: flex;
  max-width: 950px;
  margin: 0 auto;
  padding: 30px;
  padding-top: 70px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}

.home-left{
  text-align: center;
  margin: 0 10px
}

.img-profile-pic{
  border-radius: 50%;
  border: solid white 2px;
  height: 140px;
}

.in-img-about{
  border-radius: 10%;
  width: 40px;
  height: 40px;
  border: solid white;
  margin-right: 20px;
  margin-top: 10px;
  transition: all 0.5s;
}

.git-img-about{
  width: 40px;
  height: 40px;
  border-radius: 10%;
  border: solid white;
  transition: all 0.5s;
}

.in-img-about:hover {
  transform: scale(1.2);
  border: solid #00BFFF;
}

.git-img-about:hover {
  transform: scale(1.2);
  border: solid #00BFFF;
}

.home-right{
  color: white;
  text-align: left;
  margin: 0 10px;
  align-items: center;
}

.home-right a{
  color: white;
}

.home-right a:hover{
  color: #00BFFF;
}

/* ########################################### */
/* About */
/* ########################################### */
.about {
  background-color: rgba(170, 170, 170, 0.3);
}

.about-container {
  font-family: 'Century Gothic', sans-serif;
  width: 80%;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 34px;
  margin: auto;
}

.about h3{
  margin-top: 0px;
}

.about-personal {
  text-align: justify;
}

.resume-button {
  align-items: center;
  justify-content: center;
}

.btn{
  background-color: #1E90FF;
  border-radius: 8px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn a{
  color: white;
  text-decoration: none;
}

.btn:hover {
  background-color: #000080;
  color: #000080;
}

/* ########################################### */
/* Skills */
/* ########################################### */
.skills{
  background: url("imgs/bg-code-resized.jpg") no-repeat center fixed;
  background-size: 100% 100%;
  /* background-color: #000080;
  color: white; */
  padding-top: 34px;
  padding-bottom: 34px;
  margin: auto;
}

.skills-container{
  background: rgba(60, 60, 170, 0.7);
  font-family: 'Century Gothic', sans-serif;
  text-align: center;
  color: white;
  width: 80%;
  border: solid white;
  padding: 40px 0px;
  margin: 40px auto;
  justify-content: left;
}

.skills-container h3{
  margin-top: 4px;
  margin-bottom: 40px;
  letter-spacing: 3px;
}

.skills-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin: auto;
}

.skill-box{
  background-color: #1E90FF;
  border: solid white;
  border-radius: 8px;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.skill-box:hover{
  border: solid red;
  cursor: default;
}

/* ########################################### */
/* Projects */
/* ########################################### */
.projects{
  background-color: rgba(170, 170, 170, 0.3);
  padding-top: 34px;
  padding-bottom: 34px;
  text-align: center;
  margin: 0;
  color: black;
}

.grid-container{
   display: block;
   /* background: rgba(60, 60, 170, 0.8); */
   margin: 0 auto;
   width: 80%;
}

.grid-container h3{
   text-align: center;
   font-family: 'Century Gothic', sans-serif;
   letter-spacing: 3px;
}

.grid-wrapper{
  display: grid;
  font-family: 'Century Gothic', sans-serif;
  /* background: rgba(60, 60, 170, 0.7); */
  /* border: solid white; */
  padding: 40px;
  padding-top: 25px;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
}

.img-box{
  padding: 10px;
}

.img-box a{
  color: black;
  font-family: 'Century Gothic', sans-serif;
  text-decoration: none;
}

.project-img{
  width: 100%;
  border: 1px solid rgb(60, 60, 60);
}

.project-title{
  margin: 4px;
  text-align: center;
}

.project-desc{
  margin: 0;
  font-size: 12px;
  text-align: justify;
}

.img-box a:hover {
  color: red;
}

.project-skills{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: auto;
}

.project-skills-box{
  color: white;
  font-weight: bold;
  font-size: 10px;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 6px;
  border: 1px solid rgb(60, 60, 60);
  border-radius: 10px;
  align-items: center;
}

/* ########################################### */
/* Box-sizing */
/* ########################################### */
*, *:before, *:after {
  box-sizing: border-box;
}
